.container{
    width: 100%;
    /* border: 1px solid red; */
    height: auto;    
    background: linear-gradient(to bottom right,#3d97ce 0%,#12debb 100%);
    padding-bottom: 2.5rem;
    margin-bottom: 1rem;
}

.box1{
    margin-top: 10rem;
    width: 30%;
    /* border: 1px solid black; */
    height: 100%;
    margin-left: 10rem;
    color:#fff;
    
}
.box2{
    width:50%;
    margin-left: 4rem;
}
.h1{
    font-size: 45px;
}
.text{
    font-size: 22px;
    margin-bottom: 1rem;
}

.container2{
    background: #f5e6f6;
    width: 100%;
    height:500px;
    border: 1px solid red;
}

.container2h1{
    border: 1px solid red;
    /* justify-content: center; */
    font-size: 40px;
    color: #212432;
}